/**
 *	Versión 1.0.0
 */
@charset "utf-8";

/**
 *	Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/**
 *	Mobile
 */

/**	General */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:not(i) {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

.btn{
    box-shadow: none !important;
}

.galeria-productos{
    gap: 0.25rem;
}

.galeria-productos .img-thumbnail{
    width: 56px;
    height: auto;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.2s linear;
}

.galeria-productos .img-thumbnail:hover,
.galeria-productos .img-thumbnail:focus,
.galeria-productos .img-thumbnail.active{
    border: 1px solid #ffc107;
}

.product-main-image {
    aspect-ratio: 1;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}